.title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 150px;
    color: whitesmoke;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    
}




